[2022-10-17 17:48] cakrit opened #1 "Potential gotchas"
The idea here is to "prepare a wsl2 image with the required changes, use the WSL2 export/import functionalities and setup the msi file using wix to install everything"

There are a couple of potential pitfalls here, worth considering ahead of time:
- How will the image be kept up to date? Netdata has nightly and stable releases. It also comes by default with an auto-updater running every night via

[2022-10-17 17:55] dfpr commented on #1
I will take into consideration these points for the prototype, I can think of some ways to integrate such updates, I'll work on them after the initial installation and setup has been developed.

[2022-10-17 20:00] Ferroin commented on #1
Regarding updates, I’m strongly inclined to suggest we just do MSI builds for stable releases (most likely users on Windows are businesses, who in turn are far more likely to be using stable releases and not nightlies), and then let users manage updates themselves (just like we do with _other_ container setups).

Regarding the kickstart options, 99% of those are either build-time things or options

[2022-10-18 17:38] cakrit commented on #1
Perhaps we wait for @dfpr to do the prototype first and we take it from there.

[2022-10-18 17:53] cakrit commented on #1
FYI @dfpr the overall project for Netdata on Windows is tracked on https://github.com/netdata/netdata/issues/13727
Mentioning it in case you run into something unexpected, you'll see there some known limitations and expected improvements.

[2022-10-18 18:42] dfpr commented on #1
Got it, good to know, specially the systemd thing, I'll keep in mind trying it to work for the daemon.

[2022-10-24 13:42] cakrit opened #2 "Fix /etc/netdata/go.d/wmi.conf"
It now says
[code]

`name` should have the output of $(hostname)
`url` should have the output of $(hostname).local

The localhost IP doesn't work in my case, not sure if it works anywhere, as it references the linux instance.

[code]

[2022-10-24 13:52] cakrit opened #3 "Improve start/stop/restart"
The initial todo is to improve the README to explain how users should start/stop/restart it.

After a system restart Netdata did run, though I'm not sure how. Is it just because the image Netdata has it by default? It should be documented in the README

After the installation, I saw that directory C:\Program Files (x86)\Netdata includes some nice commands. I don't know if they're all correct, @Fer

[2022-10-24 14:12] cakrit commented on #2
The new nightly has the improvement from https://github.com/netdata/netdata/issues/13716, so from tomorrow we shouldn't need this config file at all. Please remove it @dfpr

[2022-10-24 17:45] ilyam8 commented on #2
Added in https://github.com/netdata/go.d.plugin/pull/941

[code]

"hostname" will be replaced with [hostname](https://man7.org/linux/man-pages/man1/hostname.1.html) result when reading the config.

[2022-10-24 18:39] dfpr commented on #2
I will remove tomorrow and test then.

[2022-10-24 19:04] dfpr commented on #3
As the netdata.tar image that becomes the Netdata WSL distro is based on the docker image, the MSI adds to the Windows registry a startup entry for `start-netdata.cmd` that has the command `wsl -d netdata netdata` that starts the distro and runs the `netdata` binary found in the path.

Scripts are used during installation along other commands embedded in the MSI installer, they might be used by th

[2022-10-25 11:30] Ferroin commented on #3
Is there any way we could integrate that as a Windows Service instead of a startup entry? Not sure how feasible that is, but if possible that would let users manage it the way they are probably already used to managing such things.

If not, then this is probably the cleanest option for auto-starting the agent.

Unless we can get some way to integrate with Windows’ native service management as I su

[2022-10-25 13:00] cakrit opened #4 "Add the other two parameters for claiming"
TOKEN is there, please add ROOMS and URL as well, as per https://github.com/netdata/msi-installer/issues/1#issue-1411973021

[2022-10-25 14:00] cakrit opened #5 "Document in the README a way for users to modify the configuration"
I'm not sure how popular configuration management systems in Windows work, but we need to document what admins would need to do, in order to configure their netdata.

I've seen that wsl can access all the files of the host windows machine, so I expect we could tell them to do something like the following:
1. Put all the netdata configs under a directory in the host machine (e.g. under c:Users/Publ

[2022-10-25 14:03] cakrit opened #6 "Document the update process"
We need to explain what we'll be doing and what our users will need to be doing, but for stable releases only, no nightlies for this.

[2022-10-25 14:04] Ferroin commented on #4
Note that the URL can (and probably should) default to `https://app.netdata.cloud` if not supplied (for consistency with our installers on Linux.

[2022-10-25 14:28] cakrit commented on #5
I added a suggestion, will improve later. Closing this one.

[2022-10-25 14:28] #5 closed

[2022-10-25 14:29] cakrit commented on #1
I added a couple of lines to the README for the installation options mentioned in https://github.com/netdata/msi-installer/issues/1#issuecomment-1281407719
Closing.

[2022-10-25 14:29] #1 closed

[2022-10-26 07:47] dfpr commented on #1
I've added MSI arguments for the Telemetry, Rooms and the cloud URL, also updated the README with that and the agent restarting command, removed the cloud info as the source Docker image contains it regardless of claiming afaict.

[2022-10-26 07:50] dfpr commented on #4
Added the two parameters, rooms and URL in addition to a telemetry control, for claiming only token is mandatory and URL defaults to https://api.netdata.cloud

[2022-10-26 07:52] dfpr commented on #2
Removed the file and tested it is working.

[2022-10-26 07:55] dfpr commented on #3
README includes the restart command now, I'll see if agent can be started as a Windows service.

[2022-10-27 18:13] cakrit commented on #3
This command causes Netdata to lose data, because it's not terminated properly. Upon receiving the kill signal, netdata stores the in-memory pages to the db and then exits. `wsl -t` prevents it from doing that.

We can do `wsl -d netdata killall netdata` and after that completes, `wsl -t netdata & wsl -d netdata netdata`
I tried putting all three in the same line, but it doesn't work, it loses dat

[2022-10-27 18:13] #2 closed

[2022-10-27 18:46] Ferroin commented on #3
This doesn’t work because `killall` just sends the signals. Nothing in that case is actually waiting for the agent to exit.\

We would still need a command to cleanly shut down the agent and wait for it to shut down.

Those wouldn’t be available if we’re using the Docker images as a base, though they would in theory solve the issue.

We just need something to wait (up to some configurable timeout,

[2022-10-27 18:57] dfpr commented on #3
I'll check how to restart without losing data, maybe mimicking the init.d daemon stop command that uses killproc.

For the Windows service, having WSL available before a user logins seems to be quite complicated as distros are installed per-user (see https://github.com/microsoft/WSL/issues/2979).

There are tools online that claim to aid in this (https://github.com/peppy0510/wsl-service) that I co

[2022-10-27 19:08] cakrit commented on #4
Ran it, works fine

[2022-10-27 19:10] cakrit commented on #3
Ok, let's see where you'll get with that.

[2022-10-27 19:55] cakrit opened #7 "Sign the installer"
I'm purchasing a Windows Code Signing Certificate, so that we don't get warnings from the installer.

I'll send its info privately so we can sign the msi, while we wait for the verification process.

[2022-10-27 19:59] cakrit commented on #7
Actually, @dfpr it's been ages since I last signed an installer, so what will you need from me? The csr and the private key?

[2022-10-27 20:19] dfpr commented on #7
@cakrit yes, the public-private key pair should be enough to sign the MSI file.

[2022-10-28 01:51] cakrit commented on #6
I'd like to add some details here:
- The installer should be called netdata.msi. It shouldn't have any versions appear on it, think of it as our kicstart. Users will always need to download the latest from our repo. @Ferroin decide if we'll create releases for it, or just leave it in the repo itself.
- When I run the msi on top of an existing installation, it shouldn't just exit as it does now. If

[2022-10-28 02:01] dfpr commented on #6
I'll adjust the MSI's filename and upgrade path, for that the installer would require to keep an internal version number to detect if the same is installed (Windows installer will halt the installation then). If the MSI has a newer version number then it will try to backup the configuration, remove the distro, install the newer and restore config.

[2022-10-28 02:06] cakrit commented on #4
One correction, FYI the default is app.netdata.cloud, not api.netdata.cloud. I added https://github.com/netdata/msi-installer/pull/8 and directly committed a correction to the readme. make sure you fetch before you commit new changes, to prevent conflicts.

Also, a question, how do the properties work regardless of their order? From https://github.com/netdata/msi-installer/blob/master/src/MSIhelpe

[2022-10-28 02:17] dfpr commented on #4
For the MSI the argument order is not important, Windows installer parses them and sets the properties either way, but the helper script uses a strict order set by Windows Installer (https://github.com/netdata/msi-installer/blob/master/src/NetdataWSL%20Windows%20Installer.wxs#L41), that shouldn't be an issue as the cmd is run internally and controlled by Windows Installer.

[2022-10-28 11:45] Ferroin commented on #3
The key thing here is largely just ensuring that the main `netdata` process has exited before tearing down the WSL environment. If all else fails, repeatedly calling `pgrep netdata` in the WSL environment until that returns no output (or some timeout is reached) should work, though it’s not exactly the ideal solution here.

[2022-10-28 15:31] cakrit opened #9 "Log files?"
Not sure why these are redirected to stdout and stderr. Where do these sockets go? Do we lose the logs?

[code]

[2022-10-28 15:47] cakrit opened #10 "The installer doesn't work on Windows Server"
We provisioned one (not sure version) that's accessible via RDP. The installer ran, I see NetdataWSL in the programs, but no wsl and no netdata running.

I will send you the rdp credentials @dfpr

[2022-10-28 15:48] dfpr commented on #10
send them, I'll check what happened

[2022-10-28 16:13] hugovalente-pm opened #11 "Node is seen Unseen on Cloud and can't find logs to troubleshoot"
I see my node claimed but as Unseen some issue on the communication between Agent and Cloud, was trying to search for logs and can't find them

<image src="https://user-images.githubusercontent.com/82235632/198683816-0aa4cdfd-ac7c-49e6-a486-25d19de5e671.png" height="60%" width="60%"/>

[2022-10-28 16:13] hugovalente-pm commented on #11
cc/ @cakrit

[2022-10-28 16:14] hugovalente-pm opened #12 "Installation log"
When installing from the command line (with the command below) it would be nice to see some output of the installation on the window you triggered it or leave the last one open pending a user "enter" or something to see some output.

[code]

[2022-10-28 17:08] #4 closed

[2022-10-28 17:12] cakrit commented on #11
Issue #9 is for the log files.

Which windows version did you use?

Send me the command you used, we'll probably need to rerun adding `/L*V "C:\log\example.log"`, to see what the installer says.

[2022-10-28 17:13] cakrit commented on #11
FYI for now @dfpr

[2022-10-28 17:19] dfpr commented on #11
For this it seems the installation and claiming worked so MSI Windows Installer logs won't show the issue, better check netdata logs after https://github.com/netdata/msi-installer/issues/9 is resolved.

[2022-10-28 17:21] dfpr commented on #9
I'll remove the links to /dev/std* and check if the logs work then.

[2022-10-28 17:22] hugovalente-pm commented on #11
ok, will still generate the log

my Windows version details
<image src="https://user-images.githubusercontent.com/82235632/198695983-c74ecc4e-47e6-4b3e-ac59-dbc26b6a30a2.png" height="60%" width="60%"/>

[2022-10-28 17:27] dfpr commented on #11
Try killing the agent and launching again with these to see if appears in cloud:
[code]

[2022-10-28 17:32] cakrit commented on #10
I think that the following may be the issue both for this and for #11

The windows server didn't have WSL. The installer didn't reboot the server. Rerunning the same msi twice is a bit counterintuitive. Which which options the first time and which the second?

[2022-10-28 17:35] cakrit commented on #10
Regardless of what the README says, we should make this process as self-evident as possible. rerunning the same thing is a bit confusing. Suggest options and let's see what we'll do.

[2022-10-28 17:37] dfpr commented on #10
I'll test on a fresh server, it is possible the WSL Windows feature installation command for Client editions is different for Server Roles. For the re-run step I'll try putting the installer in the temp dir and set it to run with a RunOnce key in order to finish the installation.

[2022-10-28 17:38] cakrit commented on #10
Sound great, thanks.

[2022-10-28 21:03] hugovalente-pm commented on #11
@dfpr I've run the two commands provided

<image src="https://user-images.githubusercontent.com/82235632/198731813-1fbd5314-c8bb-4721-aa49-0e1a61aec4eb.png" height="100%" width="100%"/>

[2022-10-28 21:05] hugovalente-pm commented on #11
i think it is because I have another local instance running (Ubuntu) now that I see better the error, let me stop that one

[2022-10-31 10:41] dfpr commented on #11
Logs at /var/log/netdata have been fixed.

[2022-10-31 10:42] dfpr commented on #10
Installer has been updated and does run on Windows Server now.

[2022-10-31 10:45] dfpr commented on #9
Redirection of logs have been fixed, they are saved normally now.

[2022-10-31 10:47] dfpr commented on #3
README has been updated with improved start/stop/restart commands, please test @cakrit if data is lost when restarting.

[2022-10-31 15:54] hugovalente-pm commented on #11
was able to get the Node live! I couldn't find the logs folder can you share where I should look for it @dfpr ?

now also trying to dig into a different problem because I only get a small subset of charts
![image](https://user-images.githubusercontent.com/82235632/199051443-932fe9c0-dcc5-4565-9318-8d9f8ff71eca.png)

[2022-10-31 16:26] dfpr commented on #11
The agent logs located at /var/log/netdata inside the Netdata distro (and all the distro files) can be reached in addition from the terminal (```wsl -d netdata```) through the Netdata folder inside the Linux item located in the folder tree on the Windows File Explorer or going to the "\\wsl.localhost\netdata\var\log\netdata" Windows path.

For that issue please try to restart the computer after in

[2022-10-31 16:32] cakrit opened #13 "Verify prerequisite?"
Is it possible to warn the user if the prerequisite of the wmi windows_exporter isn't satisfied?

https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/wmi#requirements

What options do we have?

[2022-10-31 16:49] dfpr commented on #13
I'm thinking of checking if http://localhost:9182/ works, if not installation would intentionally fail.
Additionally, setting up an installation log created at %userprofile%\appdata\local\temp (C:\Users\User\AppData\Local\Temp) for troubleshooting a failed installation.

[2022-10-31 17:28] hugovalente-pm commented on #11
I actually got there from `\\wsl$\netdata\var\log\netdata` and I can see the logs so 👌

I think this maybe the issue, I tried to stop the agent but it isn't responding let me restart the laptop

[2022-10-31 17:31] cakrit commented on #13
Do just that for this ticket. I'll add another one to optionally provide a WINDOWS_EXPORTER_URL parameter, as the exporter can optionally be installed on a different port.

[2022-10-31 17:31] cakrit commented on #13
I won't do it now though, let's finish all the other things first.

[2022-10-31 17:43] cakrit opened #14 "Bad address $(hostname).local"
Something happened on our image and $(hostname).local no longer works.

The first command is in wsl -d Netdata (fresh install), the second is from a previously installed wsl Ubuntu.

[code]

[2022-10-31 17:44] hugovalente-pm commented on #11
I did the laptop restart and couldn't see the other charts, I'm trying again to stop the agent (wsl -d netdata netdatacli shutdown-agent) to start it again but it seems to get _stuck_

![image](https://user-images.githubusercontent.com/82235632/199074061-6cb6bffd-6173-411d-b808-710007b5a2cc.png)

[2022-10-31 17:51] dfpr commented on #14
Try with just ```$(hostname)```, that is, without the ".local suffix".

[2022-10-31 17:52] cakrit commented on #3
netdatacli doesn't work and spawns something that eats a lot of cpu. I just entered `killall netdata` in the README.

[2022-10-31 17:52] #3 closed

[2022-10-31 17:52] cakrit commented on #9
I saw them.

[2022-10-31 17:52] #9 closed

[2022-10-31 17:53] cakrit commented on #7
As we saw, it doesn't seem to work this way and we'll probably need to wait for the Certificate Authority to verify the company. This process is in progress.

[2022-10-31 17:56] cakrit opened #15 "WSL2 vs WSL1"
This is new and can take some time. It wasn't there before AFAIK, what is it doing?

<img width="684" alt="image" src="https://user-images.githubusercontent.com/43294513/199076308-dadc10e6-fae6-4ef2-a20f-61812cd4d1bc.png">

[2022-10-31 18:08] dfpr commented on #15
What it is doing is converting the WSL image from version 2 to 1, the reason is that way the distro can be installed in Windows Server systems that have not yet received the update to WSL2 or the ones that have it but can't use it because Virtualization isn't available. Another reason is that if the version is not specified it would install sometimes in version 1 or 2 for unclear conditions and so

[2022-10-31 18:21] cakrit commented on #10
I can't get it to work on the server I sent you the RDP info on:
- I first tried to uninstall the older installation, as the wsl distribution netdata existed.
  - It didn't appear in the Add/remove programs.
  - I removed a "WSL update" that did nothing.
  - I found an article that said I could run `wsl --unregister <distribution>` and I did that, which did remove the distribution.
 - I ran the ne

[2022-10-31 18:23] cakrit commented on #11
don't use netdatacli, it's broken. Just do `wsl -d Netdata killall netdata` to stop Netdata. I updated the README.

[2022-10-31 18:50] dfpr commented on #10
I won't be able today but I think the june update makes the wsl command behavior inconsistent, I'll check with an updated system as soon as I can

[2022-10-31 19:27] cakrit commented on #12
Please update here and document in the README when the logging output file is there.

[2022-10-31 19:38] cakrit commented on #14
This is because the new installation used WSL1 for some reason. We will handle this case outside of the installer.

[2022-10-31 19:38] #14 closed

[2022-10-31 19:40] cakrit commented on #15
It shouldn't have used WSL1 in my case, WSL2 was running perfectly well on my Windows 11 AFAIK.

[code]

[2022-10-31 19:54] dfpr commented on #15
I could force WSL2 to be used but then it will not work for virtual servers unless the VPS provider enables nested virtualization which might not be possible or desired for performance reasons.

[2022-11-01 13:28] Ferroin commented on #15
Is there any way we could detect if WSL2 is actually _usable_? I know that the Hyper-V properties returned by `Get-ComputerInfo` are not useful here (other than ‘HypervisorPresent’, they all seem to be blank when running inside a VM regardless of whether nested virtualization is enabled or not), but is there anything else we could look at to check this?

If so, then we should ideally be checking t

[2022-11-01 14:27] dfpr commented on #15
No detection possible afaik so I'll set it for version 2 and if that fails it will switch to 1.

[2022-11-01 17:42] cakrit commented on #15
@Ferroin I'm thinking that perhaps it's better to not support WSL1 at all. It's ancient, untested and few things seem to work on it. Perhaps we could say that if the VPS provider doesn't supported nested virtualization, they should install netdata outside their VMs.

[2022-11-01 18:44] cakrit commented on #6
@Ferroin plz check docker_image_to_wsl_tar.sh, it already gets the latest netdata from docker, so we can probably hook up its execution to our nightlies and change it to pull the stable as needed.

[2022-11-01 19:00] cakrit commented on #13
Before we do this, a question: I see that it's possible to have msi packages that also install msi packages.
I'm not really keen on including whatever the latest windows_exporter msi is as the only way to install, because that would mean we'd have to support all the options they provide as well. So, a nightmare.
But perhaps we could do the following?
- Have a default installation with no parameter

[2022-11-01 19:05] dfpr commented on #13
During a MSI installation Windows Installer blocks concurrent installations so one MSI can't install other, what can be done is pack two or more into an EXE setup file that will install them sequentially, but that wouldn't work for domain policy deployments that can only use MSI.
________________________________
From: Chris Akritidis ***@***.***>
Sent: Tuesday, November 1, 2022 2:00:10 PM
To: netd

[2022-11-01 19:17] Ferroin commented on #15
Fine by me, though I would hardly call WSL1 ‘ancient’ given that we’re still officially supporting RHEL 7 and Ubuntu 18.04...

[2022-11-01 19:26] Ferroin commented on #6
It needs to be releases, storing regularly changing binary files in git is not sustainable long-term for multiple reasons, and makes it difficult for normal users to fetch older versions of the installer.

Depending on the complexity of getting WiX working in GitHub Actions, I can probably have a basic workflow ready some time tomorrow, and from there it should be trivial to add a hook to the end

[2022-11-02 14:25] cakrit commented on #15
Unfortunately we have an issue irrelevant to the installer, that makes supporting WSL1 almost inevitable. So let's do our best to support it, but we'll be strongly recommending WSL2 where possible.

@dfpr if the "try first wsl2 and then switch to wsl1 if it fails" results in a bad UX, we can try other approaches, e.g. adding a parameter to the installation. Try it and advise.

[2022-11-02 14:28] cakrit commented on #6
This sounds great. Let's please ensure we have this working today at least, it doesn't need to be perfect, but functional.

Keep in mind that we'll delete all the produced nightly releases once we have finished everything, and switch to stable only, as  you suggested @Ferroin

[2022-11-02 15:34] cakrit commented on #3
FYI we have an issue with WSL1, see https://github.com/netdata/netdata/issues/13933 if you're interested.

[2022-11-02 16:43] Ferroin commented on #6
Associated PR: https://github.com/netdata/msi-installer/pull/16

Planning to merge that shortly, and then start debugging any issues with the GHA workflows, but I expect it to work as-is.

[2022-11-02 19:07] Ferroin commented on #6
CI is in place. Release generation can be manually triggered by going to https://github.com/netdata/msi-installer/actions/workflows/build.yml and using the ‘Run Workflow’ dropdown with the default options that get autofilled there.

I’m holding off on adding automatic triggering of release generation from our main repo’s CI until we make the switch to using stable builds for this.

[2022-11-03 14:27] dfpr commented on #6
I will finish adjusting the MSI upgrade process so it keeps older configurations this morning.

[2022-11-03 14:51] dfpr commented on #10
I have added steps in the installer to enable the Virtual Machine Platform feature and install the WSL2 kernel update requirements that were missing for setup on Windows Server.
For the machine that was available through RDP, since it is a VM that doesn't have virtualization support and the installer aims to use WSL2, most likely issues will continue in that scenario. Regular non-virtualized Windo

[2022-11-03 15:29] cakrit commented on #10
In https://github.com/netdata/msi-installer/issues/15 I clarified that supporting WSL1 is inevitable. So please add back the revert to WSL1 if WSL2 fails and retry on this VM. We're working on the netdata bug (not being able to kill netdata) as well.

[2022-11-03 16:28] cakrit commented on #12
@dfpr reminder that we still need the logfile. Installer didn't work and I don't know why.

[2022-11-03 16:28] cakrit commented on #11
Closing this, we have #12

[2022-11-03 16:28] #11 closed

[2022-11-03 16:48] dfpr commented on #12
@cakrit I'm working on this right now, I'll finish soon

[2022-11-03 17:08] cakrit opened #19 "Installation issues on Windows 11"
I already have a WSL2 with custom install of netdata running on my Windows 11.

I ran the latest installer. It rebooted the machine, though it shouldn't have, since I already had WSL2 here.

After the reboot, there was no Netdata. I ran again the msi, still nothing. No wsl installation with the netdata deployment, no error message that I could see, just silent failure. In the "Add or remove progra

[2022-11-03 17:11] dfpr commented on #19
I'll set it to restart only when necessary and will put the installation logs soon.

[2022-11-03 17:15] cakrit commented on #12
noob question, isn't it possible to add our log (debug) messages to the output of
`msiexec /i netdata.msi /L*vx "C:\folder\ExampleLogFilename.txt"`

[2022-11-03 17:16] cakrit commented on #12
I mean, instead of doing our own thing...

[2022-11-03 17:34] dfpr commented on #12
Usual msi logs include file operations and return codes of actions, output for scripts won't appear there so there's a need for saving a log file outside Windows Installer.

[2022-11-03 17:36] cakrit commented on #12
Ok, thanks.

[2022-11-03 20:34] dfpr commented on #19
Reboot was prematurely unregistering the installation, please try 5434150c751b7d824e88ee6f914160d26f134673 that also adds an installation log at c:\netdata.log. Not forcing a reboot unnecessarily still pending fix.

[2022-11-03 20:40] dfpr commented on #10
In order to fix this I will test in Windows server with the WSL2 update installed and when not and when virtualization is or isn't available so the best route is taken.

[2022-11-03 20:42] dfpr commented on #6
Installation now leaves log at c:\netdata.log. Proper upgrade and configuration backup/restore pending.

[2022-11-03 20:47] dfpr commented on #11
@hugovalente-pm latest version saves installation log at c:\netdata.log.

[2022-11-03 20:48] dfpr commented on #12
Installation log now saved to c:\netdata.log, README has been updated.

[2022-11-03 20:53] dfpr commented on #15
I'll test on both versions to detect the better option.

[2022-11-04 13:06] cakrit commented on #10
Yes, sounds good. Need any help from me to do that?

[2022-11-04 13:08] dfpr commented on #10
I can handle it, thanks.

[2022-11-04 13:29] cakrit commented on #12
I see garbage in netdata.log. The following is from notepad++, MS Word doesn't know what to do with it.

<img width="747" alt="image" src="https://user-images.githubusercontent.com/43294513/199983986-a1292bc5-8e22-414f-a59f-5fefcffac836.png">

[2022-11-04 13:32] dfpr commented on #12
Might be that wsl.exe outputs double byte characters when ansi is expected. Send me the log please.

[2022-11-04 13:40] cakrit commented on #12
Here it is cleaned up (installation failed): [netdata.log](https://github.com/netdata/msi-installer/files/9938712/netdata.log)

Here is the original: [netdata.log](https://github.com/netdata/msi-installer/files/9938716/netdata.log)

I see that Wordpad is able to open both, actually, those nulls (\x00) show up as extra spaces.

[2022-11-04 13:51] dfpr commented on #12
wsl.exe is outputting unicode, check https://github.com/microsoft/WSL/issues/4607 .The fix shown there didn't work for me thou. For now the null character can be removed for readability. I'll work on the installation failed issue first before fixing this.

[2022-11-05 05:57] dfpr commented on #10
This has been fixed.

[2022-11-05 05:59] dfpr commented on #15
Installer now tries wsl2 and if importing the distro fails because virtualization is not available then will install using wsl1.

[2022-11-07 08:01] shyamvalsan opened #20 "Upgrades should auto-remove older versions"
Currently when I try installing a newer version of netdata.msi it errors out saying netdata is Already installed.

This scenario should be handled by prompting the user if they want to remove existing Netdata versions and proceed with the installation.

[2022-11-07 12:36] dfpr commented on #20
The MSI upgrade process will be fixed soon, meanwhile uninstalling before upgrading is the only possibility, thank you for your feedback.

[2022-11-07 14:48] cakrit commented on #10
Indeed it worked. Attaching the log from our Windows Server which has some confusing errors in it, but is very otherwise very clear about what happened:

[netdata.log](https://github.com/netdata/msi-installer/files/9952729/netdata.log)

 I will reinstall once more with the claiming info and close this if everything is ok.

[2022-11-07 14:53] cakrit opened #21 "Reason for restarting?"
If WSL is already installed, do we really need to restart the server after uninstalling and reinstalling netdata? what's the purpose?

Will this go away with the proper handling of updates? i.e. people will just be running the new installer and no windows host restart necessary?

[2022-11-07 14:56] dfpr commented on #21
That's correct, only fresh installations would need a restart, I'll finish the upgrade process today.

[2022-11-07 14:57] #21 closed

[2022-11-07 14:57] cakrit commented on #21
Thanks

[2022-11-07 16:14] cakrit commented on #10
It worked, the log issue is a different one. There's also a problem in that the installation is no longer unattended, which is going into a new issue I'm opening now.

[2022-11-07 16:14] #10 closed

[2022-11-07 16:16] cakrit opened #22 "The installation is not unattended"
I installed on the Windows Server which we access via Remote Desktop. After the restart, the installation does not finish until I reconnect to the server via Remote Desktop. The installation should start and complete without anyone logging in.

[2022-11-07 16:17] cakrit commented on #12
As mentioned in #10 the log also includes some errors that aren't really errors.

[2022-11-07 16:18] cakrit commented on #20
Closing in favor of #6

[2022-11-07 16:18] #20 closed

[2022-11-07 16:26] cakrit commented on #19
Still doesn't work with the latest release. On the last run, it did reboot my machine, but nothing happened after the installation.
I even ran it a second time after the restart, just in case, but nothing. Attaching the log.
[netdata.log](https://github.com/netdata/msi-installer/files/9953555/netdata.log)

[2022-11-07 16:27] cakrit commented on #15
I saw the trial and reverting to WSL1 on the Windows Server. When #19 is resolved, I can verify I get WSL2 on Windows 11.

[2022-11-07 16:29] cakrit commented on #13
I verified the installation of windows_exporter on Windows 11 and Windows Server

[2022-11-07 16:29] #13 closed

[2022-11-07 16:40] cakrit commented on #6
We won't consider the updater a blocker for the official announcement, though it is of course very important to have the ability to get newer netdata versions without completely unistalling it.

Same for finishing the CI/CD for stable releases. We can keep it manual in the beginning and still announce it.

[2022-11-07 17:18] dfpr commented on #19
It is a requirement to run the MSI from a privileged context, for example from an admin terminal with the `msiexec /i netdata.msi`. The reason for this is that after the reboot the installation can only continue for the user that initiated it since WSL is not available for the System user that regular Windows Services use.

[2022-11-07 17:21] dfpr commented on #22
In order to fix this, since WSL distributions are registered per user and not globally (https://github.com/microsoft/WSL/issues/2979) WSL will need to work as a Windows Service first.

[2022-11-07 19:18] cakrit commented on #19
I ran it via msiexec from a normal cmd, same issue. Now I'll try again after running cmd as an Administrator and see. It's very unfriendly to users, but I understand, let's hope it will work this time.

[2022-11-07 19:24] cakrit commented on #19
It worked very well when executed from an admin cmd.
Normal users can't even see the wsl distro, need an admin command to see `wsl -l -v` return the distro. It works though!

[2022-11-07 19:24] #19 closed

[2022-11-07 19:25] dfpr commented on #19
Readme does mention the admin cmd requirement, one way to overcome this would be using a MSI bootstrapper which is basically an EXE file can include the MSI and run `msiexec` with admin privileges. Notice that, since WSL can't work without a user logged in, using a MSI for unattended remote installations that usually use the SYSTEM windows user will fail unless the installation command is run from

[2022-11-07 19:26] dfpr commented on #19
That shouldn't happen, WSL should be usable to the user who installed the distro, unless the actual Administrator user was used during installation but this issue would apply to any other software.

[2022-11-07 19:38] cakrit commented on #22
Ugh, this is horrible. So there's no workaround for sysadmins who'd want to install this on hundreds of servers? e.g. Does any tooling they have allow them to emulate a login to allow such things to work?

[2022-11-07 19:38] cakrit commented on #15
WSL2 was indeed installed on Windows 11.

[2022-11-07 19:38] #15 closed

[2022-11-07 20:07] cakrit opened #23 "stop/restart scripts don't work"
Tried on Win 11 see errors below

![image](https://user-images.githubusercontent.com/43294513/200401717-b1655c9a-3955-4b52-98a8-49efdac91497.png)

[2022-11-07 20:26] dfpr commented on #23
Fixed with b876e5ab14d9f78cd7fefbba75f278b0323f74cc

[2022-11-07 20:37] cakrit commented on #19
You're right, now I see it as a normal user too. Perhaps I ran it too fast after the restart as a normal user and it didn't show up.

[2022-11-07 21:16] cakrit opened #24 "Option to not restart immediately"
Provide a way to postpone the restart, for a user to select the most appropriate time to do it. Perhaps a mandatory option off RESTART=NOW or RESTART=LATER or whatever is commonly done for such cases.

[2022-11-08 00:16] thiagoftsm opened #25 "Doubts and possible "Issues""
Hello guys,

I was reviewing windows register entries and testing an installed Netdata on a Windows Server and I observed some issues that created some concerns and I am sharing them here:

- This https://github.com/netdata/msi-installer/blob/b876e5ab14d9f78cd7fefbba75f278b0323f74cc/src/docker_image_to_wsl_tar.sh#L24-L45  configuration file won't show a lot of important charts, why are we taking t

[2022-11-08 01:17] dfpr commented on #25
I'll comment according to the best of my knowledge of Netdata and the rationale of the decisions made when developing the MSI installer, others may be able to provide more insight of different related aspects.

The WiX toolset used to generate the MSI defaults to this, changing it would be cosmetical but certainly possible.

Since the Netdata MSI can't, because of Windows Installer limitations, in

[2022-11-08 12:24] thiagoftsm commented on #25
Thank you @dfpr for your answers.

I will keep this issue open while you do not address the points that we agree to be necessary modifying. :)

I will take a look again in `Outcoming` rules to verify the necessity to modify them and I will update this issue.

Best regards!

[2022-11-08 12:28] Ferroin commented on #15
Just so it’s clearly confirmed here, as of right now we are also correctly selecting WSL2 when run on a Windows VM that has nested virtualization enabled (the VM I’m running locally for testing this stuff is set up with nested virtualization).

[2022-11-08 12:46] Ferroin commented on #24
The normal approach here is to flag the system as needing a restart. I’m not 100% certain _how_ this is typically done, but when done right the user gets notified that the system needs restarted to finish installing things, and can then choose to do so at their leisure.

[2022-11-08 12:48] dfpr commented on #24
I didn't put a notification for restarting so it is as automated as possible.

[2022-11-08 15:58] Ferroin commented on #24
The current approach is unusable with tools like Ansible or Puppet though, because they expect that the system will not randomly reboot while they’re executing things on it unless they explicitly told it to reboot.

I do think there’s value in having a way to explicitly ask it to just reboot, but the default expectation among most users is that the system does not get arbitrarily rebooted without

[2022-11-08 16:19] Ferroin commented on #25
Yes, this is intentional. Most of the plugins do not provide useful information on Windows because they only show data from inside WSL, not data from the system as a whole.

[2022-11-09 13:33] cakrit commented on #24
We won't be suggesting this for production use @Ferroin, there's some new info I'll send you.

[2022-11-09 13:57] cakrit commented on #22
We can't do anything about this, we won't be recommending the installer for production use because of it and other issues with WSL

[2022-11-09 13:57] #22 closed

[2022-11-09 13:58] cakrit commented on #24
Let's not do this, since it will not be used for production systems. We have warnings.

[2022-11-09 13:58] #24 closed

[2022-11-09 13:58] cakrit commented on #24
I mean we have warnings in the documentation.

[2022-11-09 14:03] cakrit commented on #25
None of the pending improvements here are blockers, but listing them in case we want to proceed to fix them:
- [ ] Installation folder
- [ ] Use a single directory
- [ ] Change name from NetdataWSL to Netdata
- [ ] Use the Netdata version instead of the installer version

[2022-11-09 14:29] thiagoftsm commented on #25
I agree, but the PATH is something that we need to address with new release.

[2022-11-09 14:30] dfpr commented on #25
I'm working on the path issue, I'll commit soon along other improvements.

[2022-11-09 16:19] hugovalente-pm opened #26 "Installation issue w/ release 2022-11-09133750"
Was trying to install netdata and I guess this is the release used https://github.com/netdata/msi-installer/releases/tag/2022-11-09133750 (based on date/time)

Steps:
1. I had removed my previous `netdata.msi` installation but I had the wmi_exporter already installed
2. Downloaded the netdata.msi mentioned above
3. Ran it in and Admin PowerShell with `msiexec.exe /i C:\Users\hugoj\netdata\netdata.

[2022-11-09 16:20] hugovalente-pm commented on #26
On the logfile [netdata.log](https://github.com/netdata/msi-installer/files/9973003/netdata.log) I see
![image](https://user-images.githubusercontent.com/82235632/200883973-cd8ee438-362a-4d26-ab94-1d97d9ca7cb2.png)

[2022-11-09 16:36] dfpr commented on #26
Possibly https://github.com/microsoft/WSL/issues/8714
Please attach WSL logs using these instructions https://github.com/Microsoft/WSL/blob/master/CONTRIBUTING.md#8-detailed-logs

[2022-11-09 16:39] hugovalente-pm commented on #26
could you share with me your e-mail? not sure these logs are safe to be shared public
my email: hugo@netdata.cloud

[2022-11-09 16:43] dfpr commented on #26
Sent you an email.

[2022-11-10 15:40] cakrit opened #27 "The wmi collector doesn't work any more"
I installed last night's build. Just as with the windows server, the wmi collector no longer produces charts by default.
Pinging our devs, FYI for now @dfpr . This broke two days ago.

[2022-11-10 15:45] cakrit commented on #27
No, it's the timeout. The other one won't work.

So we're getting a timeout that breaks the collector. This is a bug for the collector, not wmi.

[2022-11-10 15:45] #27 closed

[2022-11-10 15:48] hugovalente-pm commented on #26
some updates here, the main issue identified seemed to be caused by having another image using the port `19999`. not sure this is an issue that can be surfaced to the user

after stopping that other image this installation went ahead but node wasn't successfully claimed to Netdata Cloud due to not being able to reach `api.netdata.cloud`
the solution was to restart the PC and entering the Netdata i

[2022-11-10 17:09] #23 closed

[2022-11-10 17:37] hugovalente-pm commented on #26
this seems to be related with default DNS, checking the content of `/etc/resolv.conf` where nameserver is my IPv4 Address
![image](https://user-images.githubusercontent.com/82235632/201166795-30d56607-67ed-4140-9c41-8de3fa79209b.png)

looked to another image that has the following
![image](https://user-images.githubusercontent.com/82235632/201166898-4b3fbab3-4b38-4bcf-9dad-b0ba03431644.png)

this

[2022-11-10 19:54] dfpr commented on #25
I've fixed the path issue and renamed NetdataWSL to Netdata.

[2022-11-10 20:02] dfpr commented on #26
@hugovalente-pm can you confirm it is just the DNS by pinging an IP address?

[2022-11-10 20:32] dfpr commented on #6
The MSI now reinstalls and does a backup/restore of `/etc/netdata`, no need to restart.

[2022-11-10 20:35] dfpr commented on #12
I've improved the log file to show the least of errors, what might remain are faux error messages unrelated to the installation and caused by incorrect return codes plus unexpected unicode output from wsl.exe

[2022-11-11 09:23] hugovalente-pm commented on #26
@dfpr it was the DNS I did a troubleshooting with some guys on slack to help identify this, I'll add a summary here

Not sure if I follow here, if we install the **Netdata** image and there are some issues on the `/etc/resolv.conf` we can't solve them from this installation process. If that is the case can't we at least provide them with a tip to the article shared?

* in the **Netdata image** in

[2022-11-11 16:51] Ferroin commented on #26
@dfpr That needs to go in `/etc/wsl.conf`, not `/etc/resolv.conf`.

[2022-11-11 20:19] dfpr commented on #26
Latest commit should fix dns issue

[2022-11-16 20:49] dfpr commented on #25
Now everything goes to C:\Netdata and the MSI gets the version from `netdata -V`

[2022-11-17 14:20] thiagoftsm commented on #25
Hello @dfpr,

I decided to do what is not expected on our server to verify what could happen, and I observed something weird. I double click the latest msi-installer and it restart the server without to ask me if I want to restart it right now or later, please, take a look on this, because we should not restart any server without admins to accept.

When the installation ended, I observed that wind

[2022-11-17 19:39] dfpr commented on #25
Double clicking the MSI will cause installation issues, it should be run through elevated command `msiexec /i netdata.msi`
To avoid autorestart run `msiexec /i netdata.msi autorestart=0` installation will finish after.
The other issues are caused by not running the installation command in an admin terminal as instructed in the README. Wsl is not available for the LocalSystem user used by Windows i

[2022-11-17 20:01] thiagoftsm commented on #25
Hello @dfpr ,

Is there a way to avoid start installation with double click and showing a message box giving this additional information you gave us?
Can we force `autorestart=0` during the installation?

Best regards!

[2022-11-17 20:13] dfpr commented on #25
Certainly, I'll change it within this week.

Message ID: ***@***.***>

[2022-11-20 03:06] dfpr commented on #25
Now if MSI is run without elevation it will notify user of the correct way.
`autorestart=0` is default now

[2022-11-20 17:02] thiagoftsm commented on #25
Thank you very much @dfpr !

As soon we have a new installer I will test it.

Best regards!

[2022-11-21 14:33] KNaiFen opened #29 "When using, only the traffic of the WSL network card is detected, but the traffic of the network card that my system is really using is not detected"
When using, only the traffic of the WSL network card is detected, but the traffic of the network card that my system is really using is not detected
When using Docker on Win2022, it is the same as the current situation. Only the traffic generated by the WSL network card can be monitored.
Is there any solution?Let me monitor the real network card traffic
In addition, I noticed that the window was r

[2022-11-21 14:36] cakrit commented on #6
Sorry I didn't check before, but it needs `/var/lib/netdata` and `/var/cache/netdata` as well.

[2022-11-21 14:45] cakrit commented on #29
The installation is messed up now, and you see irrelevant things. See if you have the same as shown below. If you do, move `netdata.conf?` to `netdata.conf` and run restart-netdata on a cmd shell.

@dfpr see below, something is broken now.
<img width="658" alt="image" src="https://user-images.githubusercontent.com/43294513/203082895-065a36c3-d569-404a-9631-5f444de3329f.png">

[2022-11-21 14:47] cakrit commented on #29
@KNaiFen your data should still appear as seen below, but we know how confusing all the other charts are, which is why netdata.conf should have been customized to disable those collectors by default.

<img width="872" alt="image" src="https://user-images.githubusercontent.com/43294513/203084190-d82701a2-3ef6-44f1-92ec-9af9c9eb9908.png">

[2022-11-21 15:33] KNaiFen commented on #29
I'm sorry that my ”restart-netdata“ doesn't work. I forgot to explain this before. I'm sorry
![3](https://user-images.githubusercontent.com/53338804/203094779-758d8195-f5db-4476-8d49-375ea5f660d7.jpg)

[2022-11-21 16:34] cakrit commented on #12
Are the following "faux error messages"? Any suggestions on how to get rid of them?

[code]

[2022-11-22 04:11] dfpr commented on #29
@KNaiFen you can find the installation log at c:\netdata.log, latest commit also removes red text from installation script and adds more logging to the path adjustment, try it please since I have not been able to reproduce your 'restart-netdata' script issue.

@cakrit netdata.conf issue was caused by incorrect script encoding, it should work correctly now with the latest commit

[2022-11-22 04:15] dfpr commented on #6
Latest change does backup/restore those folders as well.

[2022-11-23 13:55] cakrit commented on #12
Yesterday's build had the following:
[code]

[2022-11-23 14:05] cakrit commented on #29
@dfpr sorry but I still see the exact same result. I even triggered the build again, in case it wasn't done after the commit you mentioned.

[2022-11-23 14:09] dfpr commented on #12
I need the full  log

[2022-11-23 16:55] dfpr commented on #29
fixed, build action was checking out using Windows line endings for linux scripts
btw, commits don't automatically trigger the Build action currently

[2022-11-29 02:34] dfpr commented on #12
Path is added now through Windows Installer, uninstaller can fix old leftover entries.

[2022-11-30 16:44] cakrit commented on #29
Yes, @Ferroin will automate that eventually, but for now we need to trigger builds manually.

[2022-11-30 16:46] cakrit commented on #12
I'm closing this and will create a new one if I see any new weird things.

[2022-11-30 16:46] #12 closed